@font-face {
    font-family: 'iconfont';  /* project id 1867770 */
    src: url('https://at.alicdn.com/t/font_1867770_5pzef3csvso.eot');
    src: url('https://at.alicdn.com/t/font_1867770_5pzef3csvso.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_1867770_5pzef3csvso.woff2') format('woff2'),
    url('https://at.alicdn.com/t/font_1867770_5pzef3csvso.woff') format('woff'),
    url('https://at.alicdn.com/t/font_1867770_5pzef3csvso.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_1867770_5pzef3csvso.svg#iconfont') format('svg');
  }

.sv-target video {
    background-color: #000000;
}

.sv-font {
    font-family: 'iconfont';
}

.sv-pic-pic {
    color: #ffffff;
    font-size: 20px;
    margin-right: 6px;
}

.sv-play {
    color: #ffffff;
    font-size: 20px;
}

.sv-fontBtn {
    color: #ffffff;
    font-size: 20px;
}

.sv-next {
    color: #ffffff;
    font-size: 20px;
}

.sv-fullScreen {
    color: #ffffff;
    font-size: 20px;
}

.sv-cancelFull {
    color: #ffffff;
    font-size: 20px;
}

.sv-target {
    position: relative;
}
.sv-control {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sv-play-container {
    height: 100%;
    /* background-color: royalblue; */
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}
.sv-control-r {
    height: 100%;
    /* background-color: royalblue; */
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}
.sv-play-container button.sv-playBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    outline: none;
    color: inherit;
    text-align: inherit;
    font: inherit;
    line-height: inherit;
    margin-left: 10px;
}

.sv-control-r button.showMute {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    outline: none;
    color: inherit;
    text-align: inherit;
    font: inherit;
    line-height: inherit;
    position: relative;
}

.sv-time {
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

.sv-time-split {
    padding: 0 4px;
}

.sv-mutePanel {
    position: absolute;
    top: -120px;
    left: 0;
    width: 20px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    padding: 16px 6px;
    border-radius: 4px;
}

.sv-mute-num {
    width: 100%;
    height: 20px;
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 4px;
}

.sv-mute-slider {
    flex: 1;
    width: 3px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.sv-mute-sliderRange {
    width: 100%;
    background-color: #00a1d6;
}

.sv-control-r button.sv-mute-button {
    position: absolute;
    top: 0;
    left: -4.5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 10;
    background-color: #00a1d6;
    border: 0;
    cursor: pointer;
    outline: none;
}

.sv-progressBar {
    position: absolute;
    top: 0;
    left: 2%;
    width: 96%;
    height: 2px;
    background-color: hsla(0,0%,100%,.2);
    border-radius: 4px;
    cursor: pointer;
}

.sv-cacheProgress {
    width: 0%;
    height: 100%;
    background-color: #7a7878;
    border-radius: 4px;
}

.sv-progressNum {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: #00a1d6;
}

.sv-progressBtn {
    position: absolute;
    left: 0%;
    top: -7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(0, 161, 214, 0.5);
    cursor: pointer;
}
.sv-progressBtn>div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00a1d6;
    margin-top: 2.6px;
    margin-left: 2.8px;
}

.hide {
    display: none!important;
}

.sv-full-screen {
    position: fixed!important;
    width: 100%!important;
    height: 100%!important;
    left: 0!important;
    top: 0!important;
    margin: 0!important;
    padding: 0!important;
}

.sv-loading{
    /* width: 60px;
    height: 60px; */
    position: absolute;
    left: 48%;
    top: 48%;
}
.sv-loading span{
    display: inline-block;
    width: 4px;
    height: 100%;
    border-radius: 4px;
    background: #00a1d6;
    -webkit-animation: load 1s ease infinite;
    animation: load 1s ease infinite;
}
@-webkit-keyframes load{
    0%,100%{
        height: 20px;
        background: #00a1d6;
    }
    50%{
        height: 40px;
        margin: -15px 0;
        background: lightblue;
    }
}
.sv-loading span:nth-child(2){
    -webkit-animation-delay:0.2s;
    animation-delay:0.2s;
}
.sv-loading span:nth-child(3){
    -webkit-animation-delay:0.4s;
    animation-delay:0.4s;
}
.sv-loading span:nth-child(4){
    -webkit-animation-delay:0.6s;
    animation-delay:0.6s;
}
.sv-loading span:nth-child(5){
    -webkit-animation-delay:0.8s;
    animation-delay:0.8s;
}

/* 弹幕 */
.sv-brrage {
    position: absolute;
    padding: 4px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: auto;
    word-wrap: break-word;
    max-width: 500px;
    min-width: 100px;
}

.sv-brrage-center {
    text-shadow: rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) -1px 0px 1px;
}

/* 画中画 */

.sv-picinpic {
    position: absolute;
    z-index: 22;
    position: absolute;
    top: 20px;
    right: 20px;
    white-space: nowrap;
    height: 36px;
    padding: 0 12px;
    overflow: visible;
    border-radius: 2px;
    border-radius: 18px;
    background: #2b2b2b;
    background: rgba(43,43,43,.8);
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
}
.sv-picinpic:hover {
    background: linear-gradient(90deg,#4ca9c7 0,#03bbf7)!important
}.sv-el-control-style {
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sv-nextBtn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: inherit;
}

.sv-speedBtn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: inherit;
    position: relative;
}
.sv-speedBtn .sv-speed-btn {
    position: absolute;
    bottom: 54px;
    left: -10px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    /* box-sizing: border-box;
    border: 1px solid #ffffff; */
}
.sv-speedBtn .sv-speed-btn ul {
    padding: 0;
    margin: 0;
}
.sv-speedBtn .sv-speed-btn ul li {
    list-style: none;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}
.sv-speedBtn .sv-speed-btn ul li:hover{
    color: #00a1d6;
}
.sv-active{
    color: #00a1d6!important;
}

.sv-control-c {
    height: 100%;
}

/* 弹幕控件 */
.sv-barrage {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    position: relative;
}
.sv-barrage-a {
    height: 26px;
}
.sv-barrage-input {
    height: 17px;
    outline: none;
    padding: 6px 30px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #00a1d6;
    background: none;
    font-size: 12px;
    color: #fff;
}
.sv-barrage-button {
    height: 31px;
    background-color: #00a1d6;
    color: #fff;
    width: 60px;
    min-width: 60px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #00a1d6;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: none;
    vertical-align: middle;
}
.sv-barrage-button:hover{
    background-color: #03bbf7;
    border-left: 1px solid #03bbf7;
}
.sv-barrage-font {
    position: absolute;
    left: 6px;
    top: 16px;
    cursor: pointer;
}

.sv-apanel {
    position: absolute;
    bottom: 54px;
    left: -10px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    color: #fff;
    z-index: 99999;
}
.sv-apanel-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.sv-apanel-item span {
    font-size: 12px;
}
.sv-apanel-item ul {
    margin: 0;
    padding: 0;
    margin-top: 8px;
}
.sv-apanel-item ul li {
    list-style: none;
    background-color: #fff;
    display: block;
    width: 20px;
    height: 20px;
    margin: 4px;
    float: left;
    cursor: pointer;
}
.activeColor{
    box-sizing: border-box;
    border: 2px solid #ffff;
}

.videoContainer {
    width: 100%;
    height: calc(100vh - 4px);
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f5;color: #5F5F5F;margin: 0; padding: 0; height: 100%;
}

.container {
    text-align: center;
    font-size: 72px;
    margin-top: 20%;
}

/*zoom-marker*/

.picview { width:50%; margin:auto auto auto auto; height:800px; overflow:hidden; }
.picview img{position:absolute; left: 30%; top:20%; width:500px; z-index:1; }
.zoom-marker{cursor: pointer;z-index:2;}

/* pptview */
.pptview{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}

.slide-box{
    margin: 0px auto;
    position: relative;
}
#all_slides_warpper{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    padding: 0px;
    max-width: 900px;
    left: 50% !important;
    transform: translateX(-50%);
    /* margin:50px 100px; */
    /* height: inherit !important; */
    height: auto !important;
}

#all_slides_warpper .slide{
    border-radius: 0px;
    -webkit-transform-origin: 0 0;
}
.not-in-wap #all_slides_warpper .slide-box{
    margin-bottom: 20px;
    /* top: 50%;
    transform: translateY(-50%); */
}
.not-in-wap #all_slides_warpper .slide{
    /* margin: 0px auto; */
    margin: 0px;
    top: 0px !important;
    left: 0px !important;
    /* top: 50% !important;
    transform: translateY(-50%); */
}

.is-in-wap #all_slides_warpper .slide-box{
    margin-bottom: 10px;
}
.is-in-wap #all_slides_warpper .slide{
    display: block !important;
}
.is-in-wap .slide-page-toolbar{display: none;}

.not-in-wap .main-slide-fscreen{
    left: 0px !important;
}

.total-page-point{
    border-color: #FF8040;
    box-shadow: 0 0 0 2px #ff8040;
}
.slide-play-btn{
    display: none;
    opacity: 0.6;
    position: absolute;
    font-size: 45px;
    /* top: 36%;
    left: 90px; */
    transform: scale(1) !important;
    z-index: 999999;
    color: #ff8040;
    top: 50%;
    left: 50%;
    margin-left: -22.5px;
    margin-top: -22.5px;
}
.slide-play-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* 全屏 */
.output-fscreen .slide-page-toolbar{
    left: 45%;
}
.output-fscreen .slide-left-icon{
    left: 0px;
    width: 150px;
}
.output-fscreen .slide-right-icon{
    width: 150px;
}

.text-preview{
    width: 900px;
    min-height: 600px;
    padding: 15px;
    background: #fff;
    margin: 15px auto;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    color: #000 !important;
}
.text-preview #file-content{
    white-space: pre-wrap;
}

@media (max-width: 768px) {
    .text-preview{
        width: 90% !important;
    }
    .not-in-wap #left_slides_bar{display: none !important;}
    .not-in-wap .slide-left-icon{left: 0px;}
    #all_slides_warpper{left: 10px !important;top:10px !important;transform: translateX(0);}
    /* .slide-page-toolbar{display: none;} */
}

@media (max-width: 900px) {
    .text-preview{
        width: 90% !important;
    }
    #all_slides_warpper{left: 10px !important;top:10px !important;transform: translateX(0);}
    /* .slide-page-toolbar{display: none;} */
    .docx-wrapper{
        padding:10px !important;
    }
    .docx-wrapper>section.docx{
        width: 100% !important;
        height: 100% !important;
        margin: 0px !important;
        padding: 10px !important;
    }
    #yAudio{
        width: 100% !important;
    }
    .yAudio{
        flex-wrap: wrap !important;
        justify-content: center !important;
    }

    .yAudio-content{
        padding:30px !important;
    }
}