@font-face {
  font-family: "iconfont"; /* Project id 3565944 */
  src: url('../fonts/iconfont.woff2?t=1693989529907') format('woff2'),
       url('../fonts/iconfont.woff?t=1693989529907') format('woff'),
       url('../fonts/iconfont.ttf?t=1693989529907') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-web:before {
  content: "\e68b";
}

.icon-ico:before {
  content: "\e646";
}

.icon-speaker:before {
  content: "\e600";
}

.icon-ai16:before {
  content: "\e684";
}

.icon-no-speaker:before {
  content: "\e867";
}

.icon-iconqiehuanjingtou:before {
  content: "\e60d";
}

.icon-maikefeng:before {
  content: "\e62c";
}

.icon-maikefeng1:before {
  content: "\e62f";
}

.icon-zhaoxiangjiqiehuan:before {
  content: "\e866";
}

.icon-im-yuyin:before {
  content: "\e667";
}

.icon-im-file:before {
  content: "\e617";
}

.icon-im-picture:before {
  content: "\e618";
}

.icon-im-qcard:before {
  content: "\e619";
}

.icon-im-signout:before {
  content: "\e61a";
}

.icon-im-add:before {
  content: "\e61b";
}

.icon-im-news:before {
  content: "\e61c";
}

.icon-im-emoji:before {
  content: "\e61d";
}

.icon-im-grcard:before {
  content: "\e61e";
}

.icon-im-call:before {
  content: "\e61f";
}

.icon-im-video:before {
  content: "\e620";
}

.icon-im-at:before {
  content: "\e621";
}

.icon-im-search:before {
  content: "\e622";
}

.icon-im-more:before {
  content: "\e627";
}

.icon-im-group:before {
  content: "\e628";
}

.icon-im-meeting:before {
  content: "\e629";
}

.icon-im-addfriends:before {
  content: "\e62a";
}

.icon-im-plusmeeeting:before {
  content: "\e62b";
}

.icon-im_extend:before {
  content: "\e62d";
}

.icon-im-shrink:before {
  content: "\e62e";
}

.icon-im-password:before {
  content: "\e633";
}

.icon-im-end:before {
  content: "\e634";
}

.icon-im-deldte:before {
  content: "\e636";
}

.icon-im-videocall:before {
  content: "\e637";
}

