<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件预览系统</title>
    <!-- css -->
    <link rel="stylesheet" href="__STATIC__/common/css/main.css">
    <link rel="stylesheet" href="__STATIC__/common/css/audio.css">
    <link rel="stylesheet" href="__STATIC__/luckysheet/css/pluginsCss.css">
    <link rel="stylesheet" href="__STATIC__/luckysheet/css/plugins.css">
    <link rel="stylesheet" href="__STATIC__/luckysheet/css/luckysheet.css">
    <link rel="stylesheet" href="__STATIC__/luckysheet/css/iconfont.css">
    <link rel="stylesheet" href="__STATIC__/pptxjs/css/pptxjs.css">
    <link rel="stylesheet" href="__STATIC__/pptxjs/css/nv.d3.min.css">
    <link rel="stylesheet" href="static/viewer/viewer.css">
</head>

<body style="background-color: #0000005c;">
    <div id="container">
        
    </div>

    <!-- js -->
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__STATIC__/jPreview.js"></script>
    <script>
       jPreview.preview({
            container:"container", // 容器id
            staticPath:"__STATIC__/", // 静态资源路径
            url:"{$url}", // 预览资源路径，没有的话获取url中scr参数
            ext:"{$ext}",  // 资源后缀，如果url中没有的话，必须传入后缀名，否则无法识别文件类型
            name:"{$name}",  // 资源名称
            watermarkTxt:"文件预览系统", // 水印文字
            watermarkSize:"", // 水印文字大小
            priority:1, // 优先级 1：使用插件预览 2：使用office在线预览，
            oburl:"", // 可自动设置在线设置office线上预览地址，不需要的话可以不传
        });
        $(function(){
            $("#think_page_trace_open").remove();
        })
    </script>
</body>

</html>